package-db: /home/nick/hackery/haskell/syllables/cabal-dev/packages-7.4.2.conf
local-repo: /home/nick/hackery/haskell/syllables/cabal-dev/packages
user-install: False
remote-repo: hackage.haskell.org:http://hackage.haskell.org/packages/archive
remote-repo-cache: /home/nick/.cabal/packages
world-file: /home/nick/.cabal/world
build-summary: /home/nick/hackery/haskell/syllables/cabal-dev/logs/build.log
remote-build-reporting: anonymous
install-dirs user
  prefix: /home/nick/hackery/haskell/syllables/cabal-dev/
install-dirs global
  prefix: /home/nick/hackery/haskell/syllables/cabal-dev/